DTD intern/musiksammlung.dtd

<!-- hier eintragen -->

<!-- Root-Element -->
<!ELEMENT musiksammlung (album+)>

<!ELEMENT album (besitzer, label, (interpret|gruppe)+, titel, lied* )>


<!-- Elemente der 3. Ebene -->

<!ELEMENT besitzer  (#PCDATA)>
<!ELEMENT label     (#PCDATA)>
<!ELEMENT interpret (#PCDATA)>
<!ELEMENT gruppe    (#PCDATA)>
<!ELEMENT titel     (#PCDATA)>
<!ELEMENT lied      (#PCDATA)>

    
<!--
  ! Übungen
  ? uebung-xml-k05
-->