html/html.dtd


<!-- Root-Element            -->
<!ELEMENT html (img*)>

<!-- Element der 2. Ebene    -->
<!ELEMENT img (  )>

<!-- Elemente der 3. Ebene   -->
<!ATTLIST img src PCDATA #REQUIRED
                alt CDATA #IMPLIED>
                align (left|center|right) "left"
                typ CDATA #FIXED "image/jpg"
                
<!ELEMENT interpret (#PCDATA)>
<!ELEMENT gruppe    (#PCDATA)>
<!ELEMENT titel     (#PCDATA)>
<!ELEMENT lied      (#PCDATA)>